<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% alldata.forEach(function(all){ %>
        <h3>Name: <%= all.name %></h3>
        <h3>Username: <%= all.username %></h3>
        <hr><hr>
    <% }) %>
</body>
</html>